.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 610px;
  height: 610px;
  background-color: white;
  border: 75px solid;
  border-image-source: url(frame.png);
  border-image-slice: 60 30;
    
}

.grid div {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-bottom: 5px;
}

.playerX {
  background-image: url('cross.png')
}
.player0 {
  background-image: url('circle.png')
}